.friendList {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    width: 280px;
    margin-bottom: 40px;
}

.red {
    display: inline-block;
    background-color: red;
    width: 10px;
    height: 10px;
    border-radius: 10px;
}

.green {
    display: inline-block;
    background-color: rgb(11, 93, 44);
    width: 10px;
    height: 10px;
    border-radius: 10px;
}

.item {
    display: flex;
    align-items: center;
    gap: 10px;


}

.name {
    font-size: 17px;
    font-weight: 500;
    color: rgb(220, 103, 77);
}